/* body {
  color: brown;
}

#selector {
  color: blueviolet;
}

.dersler {
  color: darkkhaki;
}

#lorem {
  text-align: justify;
} */

/* .p1 {
  text-decoration: underline;
  text-decoration: none; 
} */

.p2 {
  text-transform: uppercase;
}
